button1 {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    cursor: pointer;
    width: 150px;
    height: 50px;
    background-image: linear-gradient(to top, #810CA8 0%, #810CA8 80%, #810CA8 100%);
    border-radius: 30px;
    border: 1px solid #810CA8 ;
    transition: all 0.2s ease;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #810CA8;
    text-shadow: 0 1px #fff;
  }
  
  button:hover {
    box-shadow: 0 4px 3px 1px #810CA8, 0 6px 8px #810CA8, 0 -4px 4px #810CA8, 0 -6px 4px #810CA8, inset 0 0 3px 3px #810CA8;
  }
  
  button:active {
    box-shadow: 0 4px 3px 1px #810CA8, 0 6px 8px #810CA8, 0 -4px 4px #810CA8, 0 -6px 4px #810CA8, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
  }
  
  button:focus {
    box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #810CA8, 0 -4px 4px #810CA8, 0 -6px 4px #810CA8, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
  }
  
  
  
  